
    body{
        background-image:url("a.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:scroll;
   
         }
         Div{
            Width:700px;
            height:400px;
            border:white solid 15px;
            padding:20px;
            font-family: impact;
            margin:50px auto;
            background-image:radial-gradient(closest-corner at 50% 50%,yellow,red,green);
           
         }
    

  
